---
import { FSBookmarkRepo } from "@/infrastructure/persistance/adapters/fs/FSBookmarkRepo"
import bkmks from '../../public/bookmarks.json'
import { Folder as BookmarkFolder } from "@/domain/value-objects/folder"
import Folder from "@/components/Folder.astro"
import Bookmark from "@/components/Bookmark.astro"

const repo = new FSBookmarkRepo(bkmks)
const bkmksRoot = await repo.getRoot()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nico Ismaili | Bookmarks</title>
	</head>
	<body
        style={{
                fontFamily: 'monospace',
            }}
    >
        <main
            style={{
                display: 'flex',
                flexDirection: 'column',
            }}
        >
            <span>.</span>
            {
                bkmksRoot.map((child) => {
                    const isLastChild = bkmksRoot.indexOf(child) === bkmksRoot.length - 1;

                if (child instanceof BookmarkFolder) {
                    return <Folder isLastInRootFolder={isLastChild} depth={0} folder={child} isLastChild={isLastChild} isInLastFolder={true}/>
                } else {
                    return <Bookmark isLastInRootFolder={isLastChild} bookmark={child} isLastChild={isLastChild} depth={0} isInLastFolder={true}/>
                }
            })
            }
        </main>
	</body>
</html>
