---
import Icon from "@/components/Icon.astro";
import IconText from "@/components/IconText.astro";
import { Bookmark as DataBookmark } from "@/domain/entities/bookmark";
import { getFaviconUrl } from "@/helper/getFaviconUrl";

interface Props {
	bookmark: DataBookmark;
}

const { bookmark } = Astro.props;
const faviconUrl = await getFaviconUrl(bookmark.url);
---

<a
	href={bookmark.url.toString()}
	referrerpolicy="no-referrer"
	target="_blank"
	rel="noopener noreferrer"
	class="flex items-center gap-1.5"
	title={bookmark.name}
>
	<IconText text={bookmark.name}>
		{
			faviconUrl !== null ? (
				<img
					class="w-6 aspect-square"
					src={faviconUrl}
					alt={`Favicon for ${bookmark.name}`}
				/>
			) : (
				<Icon icon="globe" size="1.5rem" />
			)
		}
	</IconText>
</a>
