---
import Icon from "@/components/Icon.astro";
import IconText from "@/components/IconText.astro";
import { Folder as BookmarkFolder } from "@/domain/value-objects/folder";
import { convertNameToSlug } from "@/helper/getNormalizedPath";

interface Props {
	path: string | null;
	folder: BookmarkFolder;
}

const { folder, path } = Astro.props;

const folderSlug = convertNameToSlug(folder.name);
const folderUrl = `${typeof path === "string" ? `/${path}/` : "/"}${folderSlug}`;
---

<a href={folderUrl} class="group" title={folder.name}>
	<IconText text={folder.name}>
		<Icon icon="folder" size="1.5rem" className="group-hover:folder-open-icon" />
	</IconText>
</a>
